:root {
  /* Colors */
  --primaryColor400: #064BC4;
  --primaryColorRegular: #003694;
  --primaryColor500: #012A71;
  --secondaryColor400: #27E379;
  --secondaryColorRegular: #17AE59;
  --secondaryColor500: #107E40;
  --thirdColor400: #FDD329;
  --thirdColorRegular: #F1C40F;
  --thirdColor500: #CDA60A;
  /* Extra Color for Upsell */
  --tsxm-marketing400: #b96028;
  --tsxm-marketing: #E87B35;
  --tsxm-marketing500: #C46427;
  /* App Base Colors */
  --tsxm-text: theme('colors.slate.800');
  --tsxm-headline: theme('colors.slate.900');
  --tsxm-textLink: var(--primaryColorRegular);
  --tsxm-textLinkHover: var(--primaryColor400);
  --tsxm-mainBackground: theme('colors.white');
  --tsxm-secondaryBackground: theme('colors.gray.50');
  /* Signal Colors */
  --tsxm-success400: theme('colors.green.600');
  --tsxm-success: theme('colors.green.700');
  --tsxm-sccess500: theme('colors.green.800');
  --tsxm-warning400: theme('colors.orange.300');
  --tsxm-warning: theme('colors.orange.400');
  --tsxm-warning500: theme('colors.orange.500');
  --tsxm-danger400: theme('colors.red.500');
  --tsxm-danger: theme('colors.red.600');
  --tsxm-danger500: theme('colors.red.700');
  --tsxm-info400: theme('colors.blue.500');
  --tsxm-info: theme('colors.blue.600');
  --tsxm-info500: theme('colors.blue.700');

  /* Buttons */
  --tsxb-primary-bg: var(--primaryColorRegular);
  --tsxb-primary-bg-hover: var(--primaryColor400);
  --tsxb-primary-text: theme('colors.white');
  --tsxb-primary-text-hover: theme('colors.white');
  --tsxb-secondary-bg: theme('colors.white');
  --tsxb-secondary-bg-hover: theme('colors.gray.50');
  --tsxb-secondary-text: theme('colors.slate.800');
  --tsxb-secondary-text-hover: theme('colors.slate.800');
  --tsxb-transparent-text: theme('colors.slate.800');
  --tsxb-transparent-text-hover: theme('colors.slate.800');

  /*----------- WEBCOMPONENTS -------------*/

  /* Content Screen*/
  --tsxScreenPrimary: var(--primaryColorRegular);
  --tsxScreenPrimaryHover: var(--primaryColor400);
  --tsxScreenMarketing: var(--tsxm-marketing);
  --tsxScreenMarketingHover: var(--tsxm-marketing400);
  --tsxScreenBackground: var(--tsxm-mainBackground);
  --tsxScreenText: var(--tsxm-text);
  --tsxScreenHeadline: var(--tsxm-headline);
  --tsxScreen-Changelog-added-bg: #E2FBE8;
  --tsxScreen-Changelog-added-text: #3C7E44;
  --tsxScreen-Changelog-fixed-bg: #b3d2f5;
  --tsxScreen-Changelog-fixed-text: #108bfd;
  --tsxScreen-Changelog-improved-bg: #F7E9FD;
  --tsxScreen-Changelog-improved-text: #B135CC;
  --tsxScreen-Changelog-deprecated-bg: #fde4a9;
  --tsxScreen-Changelog-deprecated-text: #f7c53f;
  --tsxScreen-Changelog-removed-bg: #fac5ca;
  --tsxScreen-Changelog-removed-text: #e9606c;

  /* AppHeader */
  --tsxahBackground: var(--tsxm-mainBackground);
  --tsxahText: var(--tsxm-text);
  --tsxahPrimaryHover: var(--primaryColor400);
  --tsxahSecondary: var(--tsxm-marketing);
  --tsxahSecondaryHover: var(--tsxm-marketing400);
  --tsxahSubtleHover: #f5f5f5;
  --tsxahNavBorderHover: #003694;
  --tsxahNavBorderActive: #003694;
  --tsxahDDBackground: #ffffff;
  --tsxahDDText: var(--tsxm-text);
  --tsxahDDIcon: #565656;
  --tsxahDDInfo: #737373;
  --tsxahDDHoverBackground: #f1f1f1;
  --tsxahDDHoverText: #3d3d3d;
  --tsxahDDActiveText: #4cccff;
  --tsxahDDActiveBackground: #ffffff;
  --tsxahDots: #737373;
  --tsxahDivider: #e7e7e7;
  --tsxahLogo: #282828;
  --tsxahChevron: #484848;
  --tsxahChangelogColorRegular: #CA3931;
  --tsxahChangelogColorHover: #9d1d15;

  /* Userprofile */
  --tsxup-brightest:#fff;
  --tsxup-bright:#f2f5f9;
  --tsxup-transparent:transparent;
  --tsxup-darkest:#111827;
  --tsxup-darkest-light:#4b5563;
  --tsxup-darkest-mid-light:#6b7280;
  --tsxup-darkest-mid:#d1d5db;
  --tsxup-brightest-darker:#e5e7eb;
  --tsxup-signal-success-lighter:#dcfce7;
  --tsxup-signal-success-light:#bbf7d0;
  --tsxup-signal-success:#15803d;
  --tsxup-signal-error-lighter:#fee2e2;
  --tsxup-signal-error-light:#fecaca;
  --tsxup-signal-error:#dc2626;
  --tsxup-signal-error-med:#ef4444;
  --tsxup-signal-info-lighter:#dbeafe;
  --tsxup-signal-info-light:#bfdbfe;
  --tsxup-signal-info:#2563eb;
  --tsxup-primary:#1e40af;
  --tsxup-primary-medium:#003da685;
  --tsxup-primary-light:#dbe8ff;
  --tsxup-primary-lightest:#e6eaf2;
  --tsxup-active:#f97316;
  --tsxup-text:var(--tsxup-darkest);
  --tsxup-text-lighter:var(--tsxup-darkest-light);
  --tsxup-headline:var(--tsxup-darkest);
  --tsxup-button-regular-color:var(--tsxup-brightest);
  --tsxup-button-regular-bg:var(--tsxup-primary);
  --tsxup-button-regular-border:var(--tsxup-primary);
  --tsxup-button-regular-color-hover:var(--tsxup-brightest);
  --tsxup-button-regular-bg-hover:var(--tsxup-primary-medium);
  --tsxup-button-regular-border-hover:var(--tsxup-primary-medium);
  --tsxup-button-regular-color-disabled:var(--tsxup-primary-lightest);
  --tsxup-button-regular-bg-disabled:var(--tsxup-primary-medium);
  --tsxup-button-regular-border-disabled:var(--tsxup-transparent);
  --tsxup-button-ghost-color:var(--tsxup-darkest-light);
  --tsxup-button-ghost-bg:var(--tsxup-brightest);
  --tsxup-button-ghost-border:var(--tsxup-darkest-mid);
  --tsxup-button-ghost-color-hover:var(--tsxup-darkest-light);
  --tsxup-button-ghost-bg-hover:var(--tsxup-brightest);
  --tsxup-button-ghost-border-hover:var(--tsxup-darkest);
  --tsxup-button-ghost-color-disabled:var(--tsxup-darkest-mid-light);
  --tsxup-button-ghost-bg-disabled:var(--tsxup-brightest-darker);
  --tsxup-button-ghost-border-disabled:var(--tsxup-darkest-mid-light);
  --tsxup-button-transparent-bg:transparent;
  --tsxup-button-transparent-color:var(--tsxup-primary);
  --tsxup-button-transparent-color-hover:var(--tsxup-darkest-light);
  --tsxup-button-cancel-bg:var(--tsxup-signal-error);
  --tsxup-button-cancel-color:var(--tsxup-brightest);
  --tsxup-button-cancel-bg-hover:var(--tsxup-signal-error-light);
  --tsxup-button-cancel-color-hover:var(--tsxup-signal-error-med);
  --tsxup-selectField-border:var(--tsxup-brightest-darker);
  --tsxup-selectField-background:var(--tsxup-brightest);
  --tsxup-selectField-backgroundHover:var(--tsxup-brightest);
  --tsxup-selectField-backgroundDisabled:var(--tsxup-brightest-darker);
  --tsxup-selectField-color:var(--tsxup-darkest);
  --tsxup-selectField-selectedBackground:var(--tsxup-primary);
  --tsxup-selectField-selectedColor:var(--tsxup-primary-light);
  --tsxup-abox-success-bg:var(--tsxup-signal-success-lighter);
  --tsxup-abox-success-border:var(--tsxup-signal-success-light);
  --tsxup-abox-success-color:var(--tsxup-signal-success);
  --tsxup-abox-error-bg:var(--tsxup-signal-error-lighter);
  --tsxup-abox-error-border:var(--tsxup-signal-error-light);
  --tsxup-abox-error-color:var(--tsxup-signal-error);
  --tsxup-abox-info-bg:var(--tsxup-signal-info-lighter);
  --tsxup-abox-info-color:var(--tsxup-signal-info);
  --tsxup-abox-info-border:var(--tsxup-signal-info-light);
  --tsxup-label-active-color:var(--tsxup-signal-success);
  --tsxup-label-active-bg:var(--tsxup-signal-success-light);
  --tsxup-label-suspended-color: var(--tsxup-signal-info);
  --tsxup-label-suspended-bg: var(--tsxup-signal-info-light);
  --tsxup-label-canceled-color:var(--tsxup-signal-info);
  --tsxup-label-canceled-bg:var(--tsxup-signal-info-light);
  --tsxup-ps-bg:var(--tsxup-brightest);
  --tsxup-ps-text-disabled-color:var(--tsxup-darkest-mid-light);
  --tsxup-ps-text-checked-color:var(--tsxup-primary);
  --tsxup-ps-text-unchecked-color:var(--tsxup-darkes);
  --tsxup-ps-option-checked-bg:var(--tsxup-primary-light);
  --tsxup-ps-option-checked-border:var(--tsxup-primary-medium);
  --tsxup-ps-option-unchecked-border:var(--tsxup-darkest-mid);
  --tsxup-ps-bullet-checked-bg:var(--tsxup-primary);
  --tsxup-ps-bullet-unchecked-bg:var(--tsxup-brightest);
  --tsxup-ps-bullet-unchecked-border:var(--tsxup-darkest-light);
  --tsx-display-change-box-bg:var(--tsxup-bright);
  --tsx-display-change-box-color:var(--tsxup-darkest);
  --tsx-display-change-box-start-color:var(--tsxup-darkest-mid-light);
  --tsx-display-change-box-target-color:var(--tsxup-active);
}
